* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: 1px solid black;
  /* position: fixed;
  z-index: 1; */
}
.header-container {
  width: 70%;
  height: 100%;
  margin: auto;
  line-height: 80px;
}
.header-left {
  float: left;
  width: 30%;
  height: 80px;
}
#header-left-links {
  list-style: none;
}
#header-left-links li {
  display: inline-block;
  cursor: pointer;
}
#header-left-links a {
  margin-right: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  color: grey;
  color: #32495b;
}
.fa-globe-europe {
  margin-right: 5px;
}
.fa-chevron-down {
  margin-left: 10px;
}

.header-right {
  float: right;
  width: 30%;
  height: 80px;
  text-align: right;
}
.fa-search {
  margin-right: 20px;
  color: #00a4bd;
}
#login {
  border: 1px solid #fe775a;
  background-color: white;
  color: #fe775a;
  padding: 10px;
  border-radius: 8px;
  margin-right: 20px;
  cursor: pointer;
}
#gethub {
  background-color: #fe775a;
  color: white;
  padding: 10px;
  border-radius: 8px;
  border: 0px;
  cursor: pointer;
}

nav {
  position: relative;
  width: 100%;
  height: 80px;
  /* top: 80px; */
  background-color: white;
}
.nav-container {
  width: 70%;
  height: 80px;
  bottom: 0;
  margin: auto;
}
#nav-container-left {
  width: 30%;
  height: 100%;
  float: left;
  top: 25px;
}
#logo {
  vertical-align: middle;
  margin-top: 25px;
}
#nav-container-right {
  width: 50%;
  height: 100%;
  float: right;
  right: 0;
}
#nav-container-right ul {
  text-align: right;
}
#nav-right-links li {
  list-style: none;
  display: inline-block;
  line-height: 80px;
}
#nav-right-links a {
  text-decoration: none;
  margin-right: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #32495b;
  font-weight: 600;
}

#jumbotron-background {
  position: relative;
  background-color: #FFF4EE;
}
#jumbotron {
  position: relative;
  width: 100%;
  height: 700px;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-position: right;
}
#jumbotron-content {
  position: absolute;
  left: 15%;
  width: 40%;
}
#jumbotron-content > p {
  font-size: 15px;
  color: #32495b;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: #32495b;
}
#call-to-action {
  position: absolute;
  background-color: #fe775a;
  color: white;
  padding: 10px;
  border-radius: 8px;
  border: 0px;
  margin-top: 40px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 40px 20px 40px;
}
#bottom-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: #afebe4;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}

#section1 {
  width: 100%;
  background-color: #f4f9fd;
}
#section1::after {
  content: "";
  display: table;
  clear: both;
}
.center-box {
  width: 70%;
  margin: auto;
  height: 100%;
}
.orizzontal-box {
  vertical-align: middle;
  margin-bottom: 30px;
  width: 100%;
  height: 350px;
}
#cube-container {
  position: relative;
  width: 100%;
  height: 70%;
}
#cube {
  position: absolute;
  height: 80%;
  top: 40px;
  margin-left: 50%;
  transform: translate(-50%);
}
#text-container {
  width: 100%;
  height: 30%;
}
#text-container > h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #32495b;
  text-align: center;
}
#text-container > p {
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  font-size: 15px;
  color: #32495b;
  text-align: center;
}

.orizzontal-box2 {
  margin-bottom: 30px;
  width: 100%;
  height: 350px;
  background-color: white;
}
#orizzontal-box2-left {
  width: 30%;
  height: 100%;
  float: left;
}
.icon {
  width: 100%;
  height: 120px;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}
#orizzontal-box2-left-bottom {
  width: 100%;
  text-align: center;
}
#learn-more {
  background-color: #fe775a;
  color: white;
  padding: 10px;
  border-radius: 8px;
  border: 0px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 40px 20px 40px;
}
#orizzontal-box2-right {
  width: 70%;
  height: 100%;
  float: right;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #32495b;
  margin-top: 50px;
}
#orizzontal-box2-right > p {
  font-family: 'Montserrat', sans-serif;
  color: #32495b;
  width: 80%;
  font-size: 15px;
  margin-top: 30px;
  line-height: 25px;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #32495b;
  margin-top: 20px;
  display: inline-block;
}
span {
  display: inline-block;
  margin-left: 30px;
}
#orizzontal-box2-right > ul {
  list-style: none;
}
#orizzontal-box2-right li {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  margin-right: 20px;
  margin-top: 30px;
}
.fa-check-circle {
  color: #fe775a;
  margin-right: 10px;
}

.vertical-box {
  margin-bottom: 30px;
  width: 30%;
  background-color: white;
  float: left;
  text-align: center;
}
.center-icon {
  height: 100%;
}
.orizzontal-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #32495b;
  margin-top: 20px;
  text-align: center;
}
.orizzontal-paragraph {
  font-family: 'Montserrat', sans-serif;
  color: #32495b;
  font-size: 15px;
  margin-top: 30px;
  line-height: 25px;
  text-align: center;
}
#line {
  width: 90%;
  margin: auto;
  margin-top: 40px;
}
.orizzontal-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #32495b;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.vertical-box > ul {
  list-style: none;
}
.vertical-box li {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  margin-left: 20px;
  text-align: left;
}
#learn-more2 {
  background-color: #fe775a;
  color: white;
  padding: 10px;
  border-radius: 8px;
  border: 0px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 40px 20px 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.vertical-box2 {
  margin-bottom: 30px;
  width: 30%;
  margin-left: 5%;
  background-color: white;
  float: left;
  text-align: center;
}
.vertical-box2 > ul {
  list-style: none;
}
.vertical-box2 li {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  margin-left: 20px;
  text-align: left;
}

.vertical-box3 {
  margin-bottom: 30px;
  width: 30%;
  background-color: white;
  float: right;
  text-align: center;
}
.vertical-box3 > ul {
  list-style: none;
}
.vertical-box3 li {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  margin-left: 20px;
  text-align: left;
}

#section2 {
  width: 100%;
  background-image: linear-gradient(to right, #00a4bc , #00bba6);
  padding-top: 40px;
}
#section2::after {
  content: "";
  display: table;
  clear: both;
}
.center-box h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
}
.center-box > p {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: white;
  margin-top: 20px;
  text-align: center;
}
.info-container {
  margin-top: 30px;
  text-align: center;
}
.info-box {
  width: 25%;
  height: 160px;
  float: left;
}
.box1 {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.box2 {
  border-bottom: 1px solid white;
}
.box3 {
  border-right: 1px solid white;
  margin-bottom: 50px;
}
.little-icon {
  margin-top: 20px;
}
.box-big-text {
  font-size: 50px;
  font-weight: bolder;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.info-container p {
  color: white;
  font-family: 'Montserrat', sans-serif;
}


#section3 {
  width: 100%;
  height: 800px;
  background-color: white;
}

footer {
  width: 100%;
  height: 800px;
  background-color: #32495b;
}
